$enable-gradients = true

// Font Sizing
// My Font Sizes
$f1: 48px;
$f2: 30px;
$f3: 24px;
$f4: 21px;
$f5: 18px;
$f6: 16px;

// Assigning them to functions
.f1 { font-size: $f1; }
.f2 { font-size: $f2; }
.f3 { font-size: $f3; }
.f4 { font-size: $f4; }
.f5 { font-size: $f5; }
.f6 { font-size: $f6; }

// Assigning breakpoints
$a: 480px;
$b: 600px;
$c: 960px;

$breakpoint-map: (
        'a': $a,
        'b': $b,
        'c': $c
);

// Making a function to calculate breakpoints
@function font-size-lock(
  $min-font-size,
  $max-font-size,
  $min-screen-width,
  $max-screen-width
) {
  @return calc(#{$min-font-size} + ( ( #{strip-unit($max-font-size)} - #{strip-unit($min-font-size)} ) * (100vw - #{$min-screen-width}) / (#{strip-unit($max-screen-width)} - #{strip-unit($min-screen-width)}))); }

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1); }

  @return $number; }

// Function that puts it all together!
.f1-l {
  font-size: $f3;

  @media (min-width: 480px) {
    font-size: font-size-lock($f3, $f1, 480px, 1200px); }

  @media (min-width: 1200px) {
    font-size: $f1; } }

